/* Classes and Co */
:root {
    --green: #00703C;
    --lightgrey: #F3F2F1;
    --blue: #1D70B8;
    --black: #0B0C0C;

    --darkblue: #131921;
    --orange: #FEBD69;

    --red: #f44336;
    --grey: #808080;

    --shop-height: calc(5 * var(--width-boxes) + 8 * var(--border-spacing));


    --topbar-height: 70px;
    --topbar-border-width:15px;

    --border-spacing: 10px;

    --width-boxes: 10vw;

    --shopping-item-width: calc(7 * var(--width-boxes) + 8 * var(--border-spacing));
}

div {
    font-size: 25px;
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: var(--border-spacing);
    padding:0;
}

.table-container {
    height: var(--shop-height);
    overflow-y:auto;
    margin-top:10px;
}

#checkout-table {
    width:100%;
}

.button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
}

.button:hover {
    background-color: var(--blue);
}



img {
    border: none;
}



.overlay {
    z-index: 910;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0B0C0C77;
}

#input-box {
    display: block;
    width: 250px;
    padding: 20px 20px 20px 20px;
    font-family: Calibri;
    position: fixed;
    box-shadow: 5px 5px 5px grey;
    top: calc(50% - 420px);
    left: calc(50% - 150px);
    border: 1px solid black;
    z-index: 930;
    background: #FFFFFF;
}



#cover-slide {
    display: block;
}

#white-slide {
    display: block;
}

#slideshow {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    background-color: white;
}

#slide {
    width: 133vh;
    height: 100vh;
    flex-direction:column;
    display: none;
    background-repeat:no-repeat;
    z-index: 900;
    background-size: cover;
}

#input-container {
    margin-top:20%;
    margin-bottom:0%;
    height: 80%;
    width: 100%;
    background-color: white;
}

.vas-container {
    position: relative;
    width: 50%;
    height: 42px; /* Height updated to extend the clickable area */
    cursor: pointer;
}

.line {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: darkgrey;
    top: 50%;
    left: 0;
}

.indicator {
    position: absolute;
    width: 3px;
    height: 55px; 
    background-color: black;
    pointer-events: none;
    top: 50%; 
    transform: translateY(-50%);
}

#text-input {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 900;
    font-size: 50px;
    left: 40%;
    width: 20%;
    background-color: white;
}

.range-input {
    flex-grow:5;
}

#range-slider {
    padding-top:15%;
    display: none;
}

#range-slider-inner {
    display:flex;
    width:100%;
    background-color: white;
    justify-content: space-between;
}

#range-slider-inner > span {
    
    font-size: 50px;
}

#vas-labels {
    display: flex;
    justify-content: space-between;
}

#q1_checkboxes {
    margin-top:5%;
    margin-left:5%;
    font-size: 50px;
    background-color: white;
}

#q1_checkboxes > input {
    margin-bottom:35px;
    width:40px;
    height:40px;
}


#next-button {
    display: none;
    width: 130px;
    height: auto;
    margin: auto 30px 30px auto;
    cursor: pointer;
    z-index: 900;
}


/* Body */

body {
    display:flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    overflow:hidden;
    padding: 0px;
    margin: 0px;
}

/* Topbar */
.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


#topbar-background {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:var(--topbar-height);
    background-color: var(--darkblue);
    border-bottom: var(--topbar-border-width) solid var(--orange);
    z-index: -10;
}


#back-arrow-button {
    height: auto;
    width:100px;
    margin-left:var(--border-spacing);
    visibility: hidden;
    padding:5px;
    padding-left:0px;
}

#shop-content {
    display:flex;
    justify-content: center;
    /* overflow:auto; */
    width:100%;
}

#shop-column {
    display:inline-flex;
    width:max-content;
    flex-direction: column;
    padding:10px;
}

#topbar-icons {
    display: flex;
    height: var(--topbar-height);
    margin-bottom: var(--topbar-border-width);;
    justify-content: space-between;
}


.icon-text {
    display: flex;
    font-size: 30px;
    color: white;
    padding: 8px;
    justify-content: center;
}

#shopping-cart-button {
    width: 30px;
    height: 30px;
}

#popup-below-image {
    display: flex;
    vertical-align: center;
    justify-content: space-between;
}

.box:hover {
    opacity: 0.9;
}


#cart-item {
    display:none;
}

.cart-item {

    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    /* border: 1px solid black; */
}


#cart-item-image {
    width: 100px;
    height: 100px;
}

#cart-item-price {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

#remove-button {
    background-color: var(--blue);
    color: white;
}





/* 

.category-box {
    border: 1px solid black;
    width: 13%;
    height: 13%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5%
}

.item-box {
    border: 0px none black;
    width: 26vw;
    height: 26vw;
    cursor: pointer;
    border-radius: 20px;
} */


.box-style {
    box-shadow: 1px 1px 5px 1px lightgrey;
    background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png');
    background-size: cover;
    border: 0px none black;
    margin: 10px;
    width: 10vw;
    height: 10vw;
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
    border-radius: 10%;
    white-space: pre-line;
}




.category-box:hover {
    background-color: var(--blue);
}

.item-box:hover {
    background-color: var(--blue);
}



#timer {
    color: white;
    text-align: center;
    height: 10px;
    font-size: 30px;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 920;
    display: flex;
    justify-content: center;
}

#popup {
    display: none;
}


#popup-image {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    background-color: white;
    object-fit:contain;
}

#item-price {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
}

.popup-button {
    cursor: pointer;
    color: black;
    width: 50%;
    font-size: 25px;
    height: 30%;
    margin-top: 63px;
}

.popup-button:hover {
    background-color: var(--blue);
}


#purchase-button {
    background-color: var(--orange);
}

#back-button {
    width:50%;
    height:auto;
    background-color: var(--grey);
}

