/* Classes and Co */
:root {
    --green: #00703C;
    --lightgrey: #F3F2F1;
    --blue: #1D70B8;
    --black: #0B0C0C;

    --darkblue: #131921;
    --orange: #FEBD69;

    --red: #f44336;

    --shop-height: 88vh;
    --shop-margin-sides: 240px;
}

div {
    font-size: 25px;
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

.button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
}

.button:hover {
    background-color: var(--blue);
}



img {
    border: none;
}



.overlay {
    z-index: 910;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0B0C0C77;
}

#input-box {
    display: block;
    width: 250px;
    padding: 20px 20px 20px 20px;
    font-family: Calibri;
    position: fixed;
    box-shadow: 5px 5px 5px grey;
    top: calc(50% - 420px);
    left: calc(50% - 150px);
    border: 1px solid black;
    z-index: 930;
    background: #FFFFFF;
}



#cover-slide {
    display: block;
}

#white-slide {
    display: block;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* object-fit:contain; */
    background-color: black;
    z-index: 900;
}

/* Remove later */
#slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* object-fit:contain; */
    background-color: black;
    z-index: 900;
}


.slide-input {
    position: absolute;
    top: 50%;
    z-index: 900;
}

#text-input {
    display: none;
    font-size: 30px;
    left: 40%;
    width: 20%;
    background-color: white;
}

#range-slider {
    display: none;
    left: 20%;
    width: 60%;
}

#vas-labels {
    display: flex;
    justify-content: space-between;
}

#next-button {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 130px;
    height: 60px;
    cursor: pointer;
    z-index: 900;
}


/* Body */

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

/* Topbar */
.topbar {
    display: flex;
    vertical-align: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--darkblue);
}

#back-arrow-button {
    width: auto;
    height: 30px;
    visibility: hidden;
    margin-left: var(--shop-margin-sides);
}

#topbar-icons {
    display: flex;
    justify-content: space-between;
    width: 80%; 
}

#total-price-text {
    display: flex;
    font-size: 30px;
    color: white;
    padding: 8px;
    justify-content: center;
}

#shopping-cart-button {
    width: 30px;
    height: 30px;
}




#shop-content {
    display: flex;
    justify-content: center;
    overflow: auto;
}

/* Page */
.page {
    height: var(--shop-height);
}

#popup-below-image {
    display: flex;
    vertical-align: center;
    justify-content: space-between;
}

.box:hover {
    opacity: 0.9;
}

#checkout-page {
    display: inline-block;
    vertical-align: top;
}

#checkout-table {
    width: 70%;
}

#cart-item {
    display: none;
    width: 100%;
}

#cart-item-image {
    width: 100px;
    height: 100px;
}

#cart-item-price {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

#remove-button {
    background-color: var(--blue);
    color: white;
}







.category-box {
    border: 1px solid black;
    width: 26vw;
    height: 26vw;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 20px
}

.item-box {
    border: 0px none black;
    width: 26vw;
    height: 26vw;
    cursor: pointer;
    border-radius: 20px;
}


.category-box:hover {
    background-color: var(--blue);
}

.item-box:hover {
    background-color: var(--blue);
}

#timer {
    color: white;
    text-align: center;
    height: 10px;
    width: 100%;
}

#timer-bar {
    width: 100%;
    height: 20px;
    background-color: var(--orange);
}

#timer {
    font-size: 48px;
}



.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 920;
    display: flex;
    justify-content: center;
}

#popup {
    display: none;
}


#popup-image {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    object-fit: cover;
}

#item-price {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
}

.popup-button {
    cursor: pointer;
    color: black;
    width: 50%;
    font-size: 25px;
    height: 30%;
    margin-top: 63px;
}

.popup-button:hover {
    background-color: var(--blue);
}


#purchase-button {
    background-color: var(--orange);
}

#back-button {
    width:50%;
    height:auto;
    background-color: var(--red);
}