
/* Classes and Co */
:root {
    --green:#00703C;
    --lightgrey:#F3F2F1;
    --blue:#1D70B8;
    --black:#0B0C0C;
    
    --darkblue:#131921;
    --orange:#FEBD69;
}
div {
    font-size: 25px;
    font-weight: bold;
}
table {
    border-collapse: separate;
    border-spacing: 10px;
}
.button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
}
.button:hover {
    background-color: var(--blue);
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }



/* Body */

body {
    font-family: Arial, sans-serif;
    padding:0px;
    margin:0px;
}

    /* Topbar */
    .topbar {
        display: flex;
        vertical-align: center;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--darkblue);
    }
        #back-arrow-button {
            width: 30px;
            height: 30px;
            visibility: hidden;
        }

        #shopping-cart-button {
            width: 30px;
            height: 30px;
        }

        


    /* Content */
    #content {
        flex: 1;
        display: flex; /* Add this line */
        /* overflow-y:hidden; */
    }

        /* Page */
        .page {
            width:80%;
            float:left;
            /* display: flex; */
            /* justify-content: left; */
            height:88vh;
            overflow:auto;
        }
            #item-page {
                padding:30px;
            }

            #popup-below-image {
                display: flex;
                vertical-align: center;
                justify-content: space-between;
            }
            .box:hover {
                opacity: 0.9;
            }

        /* Sidebar */
        .sidebar {
            width: 19%;
            float:right;
            padding:10px;
            height: 88vh;
            overflow:auto;
            overflow-x:hidden;
            background-color: var(--lightgrey);
        }
            #total-price-text {
                font-size: 35px;
                width:100%;
                color:black;
                text-align: center;
                padding:10px;
                border-bottom: 1px solid lightgray;
            }
            #cart-item {
                display: none;
            }
                #cart-item-image {
                    width: 100px;
                    height: 100px;
                }
                #cart-item-price {
                    font-size: 40px;
                    font-weight: bold;
                    margin: 20px;
                }
                #remove-button {
                    background-color: var(--blue);
                    color: white;
                }
            
        
        
        
        
        
        
        







  

        
















.category-box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 2px;
}
.item-box {
    border: 1px solid lightgray;
    width: 26vw;
    height: 26vw;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 2px;

}
#timer {
    color: white;
    text-align: center;
    height:10px;
    width:100%;
}

#timer-bar {
    width: 100%;
    height: 20px;
    background-color:var(--orange);
  }
  
  #timer {
    font-size: 48px;
  }



.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
}


  #popup-image {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    object-fit: cover;
  }
    #item-price {
        font-size: 56px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #purchase-button {
        background-color: var(--orange);
        color: black;
        width: 50%;
        font-size: 25px;
        height: 30%;
        margin-top: 63px;
        /* height: 30px; */

    }
    #back-button {
        background-color: #f44336;
        color: white;
    }

    #price-div {
        display: flex;
        justify-content: center;
        width: 50%;
    }







