
/* Classes and Co */
:root {
    --green:#00703C;
    --lightgrey:#F3F2F1;
    --blue:#1D70B8;
    --black:#0B0C0C;
    
    --darkblue:#131921;
    --orange:#FEBD69;
}
div {
    font-size: 25px;
    font-weight: bold;
}
table {
    border-collapse: separate;
    border-spacing: 10px;
}
.button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
}
.button:hover {
    background-color: var(--blue);
}

.overlay {
    z-index: 910;
    display: none;
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color:#0B0C0C77;
}



  #cover-slide {
    display: block;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 900;
  }

  .slide-input {
    position: absolute;
    top: 50%;
    z-index: 900;
  }

  #text-input {
    display: none;
    font-size: 30px;
    left: 40%;
    width: 20%;
    background-color: white;
  }

  #range-slider {
    display: none;
    left: 10%;
    width: 80%;
  }

  #next-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 900;
}


/* Body */

body {
    font-family: Arial, sans-serif;
    overflow:hidden;
    padding:0px;
    margin:0px;
}

    /* Topbar */
    .topbar {
        display: flex;
        vertical-align: center;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--darkblue);
    }
        #back-arrow-button {
            width: 30px;
            height: 30px;
            visibility: hidden;
        }

        #price-and-cart-div {
            display: flex;
        }

            #total-price-text {
                display: flex;
                font-size: 30px;
                color:white;
                padding:8px;
                justify-content: center;
            }

            #shopping-cart-button {
                width: 30px;
                height: 30px;
            }
        



        


    /* Content */
    #content {
        flex: 1;
        display: flex; /* Add this line */
        /* overflow-y:hidden; */
    }

        /* Page */
        .page {
            width:100%;
            display: flex;
            justify-content: center;
            height:88vh;
            overflow:auto;
        }
            #item-page {
                padding:30px;
            }

            #popup-below-image {
                display: flex;
                vertical-align: center;
                justify-content: space-between;
            }
            .box:hover {
                opacity: 0.9;
            }

            #checkout-page {
                display: inline-block;
                vertical-align: top;
            }

                #checkout-table {
                    width: 50%;
                }

                    #cart-item {
                        display: none;
                        width: 50%;
                    }
                        #cart-item-image {
                            width: 100px;
                            height: 100px;
                        }
                        #cart-item-price {
                            font-size: 40px;
                            font-weight: bold;
                            margin: 20px;
                        }
                        #remove-button {
                            background-color: var(--blue);
                            color: white;
                        }
                
        
        
        
        
        
        
        







  

        
















.category-box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 2px;
}
.item-box {
    border: 1px solid lightgray;
    width: 26vw;
    height: 26vw;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 2px;

}
#timer {
    color: white;
    text-align: center;
    height:10px;
    width:100%;
}

#timer-bar {
    width: 100%;
    height: 20px;
    background-color:var(--orange);
  }
  
  #timer {
    font-size: 48px;
  }



.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 920;
    display: flex;
    justify-content: center;
}


  #popup-image {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    object-fit: cover;
  }
    #item-price {
        font-size: 56px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #purchase-button {
        background-color: var(--orange);
        color: black;
        width: 50%;
        font-size: 25px;
        height: 30%;
        margin-top: 63px;
        /* height: 30px; */

    }
    #back-button {
        background-color: #f44336;
        color: white;
    }

    #price-div {
        display: flex;
        justify-content: center;
        width: 50%;
    }







